//- Mixin para reusar componente Input
  @param {string} label - Label do Input
  @param {string} [icon] - Ícone ilustrativo (opcional)
mixin input(label="Label/Rótulo", icon=false)
  - const component = 'input'
  - const labeless = attributes.labeless ? 'sr-only' : '';
  - const type = attributes.type ? attributes.type : 'text'
  - const placeholder = attributes.placeholder ? attributes.placeholder : 'Placeholder'
  - const random = Math.floor((Math.random() * 1000000) + 1);
  - const id = attributes.id ? attributes.id + '-' + random : 'input-' + random;
  div(class=[prefix + component, attributes.class, attributes.density], id=attributes.id)
    label(for=id, class=labeless)=label
    div(class=component + '-box')
      if icon
        div(class=component + '-icon')
          +icon(class=icon)
      div(class=component + '-body')
        input(id=id, type=type, value=attributes.value, placeholder=placeholder, arial-expanded=attributes['arial-expanded'], aria-controls=attributes['aria-controls'], data-toggle=attributes['data-toggle'], data-target=attributes['data-target'], data-icon=attributes['data-icon'], disabled=attributes.disabled, size=attributes.size, maxlength=attributes.maxlength, minlength=attributes.minlength)
        .overlay
      if block
        block

//- Mixin para usar botão de ação no Input
mixin input-action
  .input-action
    if block
      block
