extends ../../layouts/default

mixin colors-tokens(values)
    each value in values
      tr(style="vertical-align: top;")
        td(style="text-align: right;")=`--color-${value}: `
        td
          div.border-color-secondary-04(
            class=`background-color-${value}`,
            style="border: 1px solid; height: 1em; width: 2em;"
          )

mixin icons-tokens(values)
    each value in values
      tr(style="vertical-align: top;")
        td(style="text-align: right;")=`--icon-size-${value}: `
        td
          i.fas.fa-camera-retro(class=`icon-size-${value}`)

mixin grid-breakpoint(item, value)
  tr(style="vertical-align: top;")
    td(style="text-align: right;")=`--grid-${item}: `
    td
      span=value

mixin font-weights(values)
    each value in values
      tr(style="vertical-align: top;")
        td(style="text-align: right;")=`--font-weight-${value}: `
        td
          span(class=`font-weight-${value}`) Peso da fonte

mixin font-sizes(values)
    each value in values
      tr(style="vertical-align: top;")
        td(style="text-align: right;")=`--font-size-scale-${value}: `
        td
          span(class=`font-size-scale-${value}`) Tamanho da fonte

mixin line-heights(values)
    each value in values
      tr(style="vertical-align: top;")
        td(style="text-align: right;")=`--font-line-height-${value}: `
        td
          span.bg-color-secondary-04(class=`font-line-height-${value}`)
            | Line height
            br
            | Line height
            br
            | Line height

append vars
  - var title = "Estados"
  - var values = []
  - let i = 0;

append template
  .background-color-secondary-03
    .container
      .background-color-secondary-01
        h1 Tokens

        h2.h3 Cores
        table
          - values = ['primary-pastel-01', 'primary-pastel-02', 'primary-lighten-01', 'primary-lighten-02', 'primary-default', 'primary-darken-01', 'primary-darken-02']
          +colors-tokens(values)
          - values = ['secondary-01', 'secondary-02', 'secondary-03', 'secondary-04', 'secondary-05', 'secondary-06', 'secondary-07', 'secondary-08']
          +colors-tokens(values)
          - values = ['highlight']
          +colors-tokens(values)
          - values = ['warning', 'success', 'danger', 'info']
          +colors-tokens(values)
          - values = ['support-01', 'support-02', 'support-03', 'support-04']
          +colors-tokens(values)

        h2.h3 Ícones
        table
          - values = ['xs', 'sm', 'base', 'lg', '2x', '3x', '4x', '5x', '6x', '7x', '8x', '9x', '10x']
          +icons-tokens(values)

        h2.h3 Grid
        table
          +grid-breakpoint('breakpoint-xsmall', '0px')
          +grid-breakpoint('breakpoint-small', '575px')
          +grid-breakpoint('breakpoint-medium', '992px')
          +grid-breakpoint('breakpoint-large', '1280px')
          +grid-breakpoint('breakpoint-xlarge', '1600px')
          +grid-breakpoint('portrait-maxwidth', '100%')
          +grid-breakpoint('portrait-gutter', '16px')
          +grid-breakpoint('portrait-columns', '4')
          +grid-breakpoint('portrait-margin', '8px')
          +grid-breakpoint('tablet-maxwidth', '100%')
          +grid-breakpoint('tablet-gutter', '24px')
          +grid-breakpoint('tablet-columns', '8')
          +grid-breakpoint('tablet-margin', '40px')
          +grid-breakpoint('desktop-maxwidth', '1200px')
          +grid-breakpoint('desktop-gutter', '24px')
          +grid-breakpoint('desktop-columns', '12')
          +grid-breakpoint('desktop-margin', '40px')
          +grid-breakpoint('tv-maxwidth', '1520px')
          +grid-breakpoint('tv-gutter', '40px')
          +grid-breakpoint('tv-columns', '12')
          +grid-breakpoint('tv-margin', '40px')
        .row
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto
          .col: div.background-color-primary-default.color-secondary-01 Auto

        - i = 1
        while i <= 4
          .row
            .col(class=`portrait-${i}`)
              .background-color-primary-default.color-secondary-01=`Portrait ${i}`
          - i++

        - i = 1
        while i <= 8
          .row
            .col(class=`tablet-${i}`)
              .background-color-primary-default.color-secondary-01=`Tablet ${i}`
          - i++

        - i = 1
        while i <= 12
          .row
            .col(class=`desktop-${i}`)
              .background-color-primary-default.color-secondary-01=`Desktop ${i}`
          - i++

        - i = 1
        while i <= 12
          .row
            .col(class=`tv-${i}`)
              .background-color-primary-default.color-secondary-01=`TV ${i}`
          - i++

        h2.h3 Tipografia
        table
          - values = ['thin', 'extra-light', 'light', 'regular', 'medium', 'semi-bold', 'bold', 'extra-bold', 'black']
          +font-weights(values)
          - values = ['base', 'down-01', 'down-02', 'down-03', 'up-01', 'up-02', 'up-03', 'up-04', 'up-05', 'up-06', 'up-07']
          +font-sizes(values)
          - values = ['low', 'medium', 'high']
          +line-heights(values)

        p.h4 Estilos de tipografia
        table
          tr
            td(style="text-align: right;") Texto padrão, parágrafo: 
            td: span Texto padrão, parágrafo
          tr
            td(style="text-align: right;") Título h1: 
            td: span.h1 Título h1
          tr
            td(style="text-align: right;") Título h2: 
            td: span.h2 Título h2
          tr
            td(style="text-align: right;") Título h3: 
            td: span.h3 Título h3
          tr
            td(style="text-align: right;") Título h4: 
            td: span.h4 Título h4
          tr
            td(style="text-align: right;") Título h5: 
            td: span.h5 Título h5
          tr
            td(style="text-align: right;") Título h6: 
            td: span.h6 Título h6
          tr
            td(style="text-align: right;") Label: 
            td: span.label Label
          tr
            td(style="text-align: right;") Fieldset: 
            td: span.fieldset Fieldset
          tr
            td(style="text-align: right;") Placeholder: 
            td: span.placeholder Placeholder
          tr
            td(style="text-align: right;") Input: 
            td: span.input Input

        //- p.h3 Destacado
        //- p
        //-   span Lorem ipsum dolor sit amet 
        //-   span.highlight consectetur adipisicing elit
        //-   span . Voluptatem quaerat doloremque similique alias laboriosam sequi voluptatibus reiciendis atque consequuntur omnis nisi odit quod nihil pariatur, dolores nostrum illum impedit itaque.

        //- p.h3 Interativo
        //- p
        //-   a(href="http://www.google.com") Link para o Google
        //- +button.is-primary Botão primário

        //- p.h3 Desativado
        //- +button.is-primary.mt-3(disabled) Botão primário desativado
        //- .row
        //-   .col
        //-     +input#input-disabled.mt-3('input desativado', disabled)
