//- Mixin para reusar componente Select
  @param {string} label - Label do Input
  @param {string} [icon] - Ícone ilustrativo (opcional)
mixin select(label="Label/Rótulo", icon=false)
  - const component = 'select'
  - const type = 'search'
  - const placeholder = attributes.placeholder ? attributes.placeholder : 'Placeholder'
  - const random = Math.floor((Math.random() * 1000000) + 1);
  - const id = attributes.id ? attributes.id + '-' + random : 'select-' + random;
  - const trigger = id + '-trigger'
  - const list = id + '-list'
  div(class=[prefix + component, attributes.class, attributes.density], id=attributes.id)
    div(class=component + '-input')
      +input(label, icon)(id=id + '-input', placeholder=placeholder, type=type, labeless=attributes.labeless, density=attributes.density)
    div(class=component + '-list', id=list)
      div(class=component + '-overflow')
        if block
          block
