mixin accordion
  - let className = attributes.class
  - let componentClass = prefix + "accordion"
  - className = className ? componentClass + " " + className : componentClass
  div(class=className
      negative=attributes.negative
      single=attributes.single)
    if block
      block

mixin accordion-item(title="Título")
  .item(active=attributes.active)
    button.header(type="button" aria-controls=attributes.id aria-expanded=attributes.active ? "true" : "false")
      span.icon
        if className
          i.fas.fa-angle-up(role="img" aria-label="contrai o conteúdo do acordião")
        else
          i.fas.fa-angle-down(role="img" aria-label="expande o conteúdo do acordião")
      span.title=title
  .content(id=attributes.id aria-hidden=attributes.active ? "false" : "true")
    if block
      block
    else
      | Conteúdo
