mixin checkbox(label="Label")
  - let className = attributes.class
  - let componentClass = prefix + "checkbox"
  - className = className ? componentClass + " " + className : componentClass
  if attributes.invalid
    div(class=className, invalid)
      input(
        id=attributes.id
        type="checkbox"
        checked=attributes.checked
        disabled=attributes.disabled
        aria-label=attributes.ariaLabel)
      label(for=attributes.id)=label
      if block
        block
  else if attributes.valid
    div(class=className, valid)
      input(
        id=attributes.id
        type="checkbox"
        checked=attributes.checked
        disabled=attributes.disabled
        aria-label=attributes.ariaLabel)
      label(for=attributes.id)=label
      if block
        block
  else
    div(class=className)
      input(
        id=attributes.id
        type="checkbox"
        checked=attributes.checked
        disabled=attributes.disabled
        aria-label=attributes.ariaLabel)
      label(for=attributes.id)=label
      if block
        block

