mixin checkbox(label="Label")
  .br-checkbox(class=attributes.class)
    input(
      id=attributes.id
      type="checkbox"
      checked=attributes.checked
      disabled=attributes.disabled)
    label(for=attributes.id)=label
