mixin checkbox(label="Label")
  - let className = attributes.class
  - let componentClass = prefix + "checkbox"
  - className = className ? componentClass + " " + className : componentClass
  div(class=className, name=attributes.name)
    input(
      id=attributes.id
      type="checkbox"
      checked=attributes.checked
      disabled=attributes.disabled)
    label(for=attributes.id)=label
