mixin datepicker(label="Label", labelClass)
  - let className = attributes.class
  - let componentClass = prefix + "input"
  - className = className ? componentClass + " " + className : componentClass
  div(class=className)
    label(class=labelClass for=attributes.id)=label
    input(
      id=attributes.id
      type=attributes.type ? attributes.type : "text"
      placeholder=attributes.placeholder
      disabled=attributes.disabled)
    if block
      block
