mixin footer
  .br-footer&attributes(attributes)
    if block
      block

mixin footer-logo
  - let type = attributes.inverted ? "positive" : "negative"
  .logo&attributes(attributes)
    img(src=`https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-${type}.png` alt="Imagem")

mixin footer-list-filler(attributes)
  - total = attributes.total ?  attributes.total : 6
  - col = typeof(attributes.col) === 'number' ? 'col-' + attributes.col : 'col'
  - let n = 1;

  while n <= total
    - let itens = Math.floor(Math.random() * (1 - 4) + 4)
    div(class = col)
      +list-item()(link)
        .content.text-down-01.text-bold.text-uppercase= 'Categoria '+ n
        .support: i.fas.fa-angle-up
      +list
        - let i = 0;
        while i <= itens
          - let div = Math.floor(Math.random() * (1 - 4) + 4)
          +list-item()(link)
            if ( i % div == 0)
              .content= 'Item da Lista '
            else if ( i % div == 1)
              .content= 'Item da Lista ' + ' -  teste teste testestes testeste teste testeteste testeteste teste teste testetesteteste teste teste teste teste'
            else
              .content= 'Item da Lista ' + ' -  teste teste teste testeteste teste '
          - i++
    - n++

mixin footer-bottom-filler
  - let type = attributes.inverted ? "positive" : "negative"
  .d-none.d-sm-block
    .row.align-items-end.justify-content-between.py-5
      .col.social-network
        p.text-up-01.text-extra-bold.text-uppercase Redes Sociais
        - let btn = 0
        while btn < 4
          +button().mr-3(circle)
            img(src=`https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-${type}.png` alt="Imagem")
          - btn++
      .col.assigns.text-right
        - let chancela = 0
        while chancela < 2
          img.ml-4(src=`https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-${type}.png` alt="Imagem")
          - chancela++

mixin footer-info
  .info
    .text-down-01.text-medium.pb-3.text-center
      | Texto destinado a exibição de informações relacionadas à&nbsp;
      strong licença de uso.
