mixin input(label="Label", className)
  .br-input(class=attributes.class)
    label(class=className for=attributes.id)=label
    input(
      id=attributes.id
      type=attributes.type ? attributes.type : "text"
      placeholder=attributes.placeholder
      disabled=attributes.disabled)
    if block
      block
