mixin input(label="Label")
  - let className = attributes.class
  - let componentClass = prefix + "input"
  - className = className ? componentClass + " " + className : componentClass
  div(class=className
      valid=attributes.valid
      invalid=attributes.invalid
      filter=attributes.filter)
    label(for=attributes.id)=label
    input(
      id=attributes.id
      type=attributes.type ? attributes.type : "text"
      class=attributes.class
      placeholder=attributes.placeholder
      disabled=attributes.disabled
      data-input=attributes.datainput)
    if attributes.type == "password" && !attributes.filter
      button.icon(type='button')
        span.sr-only Mostrar senha
        i.fas.fa-eye
    if block
      block