mixin menu-ds
  nav.ds-menu-lateral
    if block
      block
    else
      +feedback("inserir MENU-ITEM ou MENU-SUBNIVEL")

mixin menu-folder(item)
  .menu-item
    button(
      class=attributes.class
      type="button"
      data-toggle="collapse")
      span=item
      i.fas.fa-chevron-down
    .submenu
      if block
        block

mixin menu-item(item)
  .menu-item(class=attributes.class)
    a(href="")=item
