mixin modal
  - var className=attributes.class;
  .br-modal(class=className ? className : "is-medium")
    .container-fluid.px-0
      if block
        block

mixin modal-header(title)
  .br-modal-header
    .br-modal-title(class=attributes.class title=title)=title
    if block
      block

mixin modal-body
  .br-modal-body(class=attributes.class)
    if block
      block

mixin modal-footer
  - var className=attributes.class
  .br-modal-footer(class=className ? className : "justify-content-end")
    if block
      block

mixin modal-close
  button.close(type="button" data-dismiss="br-modal" aria-label="Close")
    +icon.fa-times
