mixin radio(label="Label")
  .br-radio(class=attributes.class)
    input(
      id=attributes.id
      type="radio"
      name=attributes.name
      checked=attributes.checked
      disabled=attributes.disabled)
    label(for=attributes.id)=label
