mixin select(label="Label")
  .br-select(class=attributes.class)
    label(for=attributes.id)=label
    select(id=attributes.id
      disabled=attributes.disabled)
      if block
        block

mixin option(text="", value="0")
  option(value=value
    selected=attributes.selected)=text
