mixin table(datatable=false, title='Título da Tabela', checkbox=false, columns=4, rows=5)
  - let datatableClass = attributes.datatable ? "is-datatable" : ""
  - let column = 1
  - let row = 1
  .br-table(
    class=attributes.class ? attributes.class + " " + datatableClass : datatableClass
    id=attributes.id
    )
    if (attributes.datatable)
      .header
        .top-bar
          .title=attributes.title ? attributes.title : title
          .search-button
            +button.search-trigger.is-circle.is-tertiary
              i.fas.fa-search
        .search-bar
          +input("Buscar").search-input.is-medium.has-icon(placeholder="Buscar na tabela", id=attributes.id + '-search-input')
            button.icon(type='button')
              span.sr-only Buscar
              i.fas.fa-search
          +button.search-close.is-circle.ml-1
            i.fas.fa-times
    .responsive
      table
        thead
          tr
            while (column <= (attributes.columns ? attributes.columns : columns))
              if (column === 1)
                if (attributes.checkbox)
                  th(scope="col" style="width: 54px;")
                    +checkbox("")#check-all
                th(scope="col")=`Coluna ${column}`
              else
                th(scope="col")=`Coluna ${column}`
              - column++
        tbody
          while (row <= (attributes.rows ? attributes.rows : rows))
            tr
              - column = 1
              while (column <= (attributes.columns ? attributes.columns : columns))
                - let random = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
                - random = random.replace(/(\w{8})/g, '$1 ').replace(/(^\s+|\s+$)/,'')
                if (column === 1)
                  if (attributes.checkbox)
                    td
                      +checkbox("")(id=`line-${row}`)
                  td(data-th=`Coluna ${column}`)=random
                else
                  td(data-th=`Coluna ${column}`)=random
                - column++
            - row++
    if (attributes.datatable)
      .footer
        .bottom-bar
          .items
            span Exibir:
            +select("").is-small(id=attributes.id + '-items')
              +option("10", "10")
              +option("15", "15")
              +option("20", "20")
            span.divider
            span 1-10 de 50 itens
          .pagination
            .selectors
              +select("").is-small(id=attributes.id + '-pagination')
                +option("1", "1")
                +option("2", "2")
                +option("3", "3")
              span de 3 páginas
              span.divider
            .arrows
              +button.is-circle.is-secondary
                i.fa.fa-chevron-left
              +button.is-circle.is-secondary
                i.fa.fa-chevron-right
