mixin datatable
  +table(datatable=true, columns=10 rows=10)

mixin table(datatable=false, checkbox=false, columns=4, rows=5)
  - let column = 1
  - let row = 2
  .br-table(class=attributes.datatable ? "is-datatable" : "")
    if (attributes.datatable)
      .header
        .top-bar
          .title Título da Tabela
          .search-button
            +button#search-trigger.is-circle.is-tertiary
              i.fas.fa-search
        .search-bar
          +input("Buscar")#table-search.is-medium.has-icon(placeholder="Buscar na tabela")
            button.icon(type='button')
              span.sr-only Buscar
              i.fas.fa-search
          +button#search-close.is-circle.ml-1
            i.fas.fa-times
    .responsive
      table
        thead
          tr
            while (column <= (attributes.columns ? attributes.columns : columns))
              if (column === 1)
                if (attributes.checkbox)
                  th(style="width: 54px;")
                    +checkbox("")#check-all
                th=`Coluna ${column}`
              else
                th=`Coluna ${column}`
              - column++
        tbody
          while (row <= (attributes.rows ? attributes.rows : rows))
            tr
              - column = 1
              while (column <= (attributes.columns ? attributes.columns : columns))
                - let random = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
                - random = random.replace(/(\w{8})/g, '$1 ').replace(/(^\s+|\s+$)/,'')
                if (column === 1)
                  if (attributes.checkbox)
                    td
                      +checkbox("")(id=`line-${column}`, class="td-checkbox")
                  td(data-th=`Coluna ${column}`)=random
                else
                  td(data-th=`Coluna ${column}`)=random
                - column++
            - row++
    if (attributes.datatable)
      .footer
        .bottom-bar
          .items
            span Exibir:
            .br-select.is-small
              select(name='select')
                option(value='10') 10
                option(value='15') 15
                option(value='20') 20
            span.divider
            span 1-10 de 50 itens
          .pagination
            .selectors
              .br-select.is-small
                select(name='select')
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
              span de 3 páginas
              span.divider
            .arrows
              +button.is-circle.is-secondary
                i.fa.fa-chevron-left
              +button.is-circle.is-secondary
                i.fa.fa-chevron-right
