mixin textarea(label="Label")
  .br-textarea(class=attributes.class)
    label(for=attributes.id)=label
    textarea(
      id=attributes.id
      placeholder=attributes.placeholder
      disabled=attributes.disabled)
      if block
        block
