mixin textarea(label="Label")
  - let className = attributes.class
  - let componentClass = prefix + "textarea"
  - className = className ? componentClass + " " + className : componentClass
  div(class=className)
    label(for=attributes.id)=label
    textarea(
      id=attributes.id
      placeholder=attributes.placeholder
      rows=attributes.rows
      cols=attributes.cols
      disabled=attributes.disabled)
    if block
      block
