mixin tooltip(label="Título", labelClass, place="top", popover="false", active="false")
  - let className = attributes.class
  - let componentClass = prefix + "tooltip"
  - className = className ? componentClass + " " + className : componentClass
  - className = attributes.popover ? className  + " is-popover" : className
  div(
    id=attributes.id
    place=attributes.place
    timer=attributes.timer
    active=attributes.active
    class=className)
    if (attributes.popover)
      if block
        block
    else  
      span.text=label
      if block
        block
  mixin popover-image
    div.popover-image
      if block
        block
  mixin popover-header
    div.popover-header
      if block
        block
  mixin popover-body
    div.popover-body
      if block
        block
  mixin popover-footer
    div.popover-footer
      if block
        block

