mixin upload
  - let classComponent = prefix + 'upload'
  - let className = attributes.class ? classComponent + ' ' + attributes.class : classComponent
  - let id = attributes.id ? attributes.id : 'upload'
  - let label = attributes.multiple ? "Selecione um ou mais arquivos" : "Selecione ou arraste 1 arquivo"
  - let feedbackType = attributes.feedbackType ? "text-" + attributes.feedbackType : "text-danger"
  - let feedbackIcon = attributes.feedbackIcon ? attributes.feedbackIcon : "fa-exclamation-circle"
  - let feedbackText = attributes.feedbackText ? ' ' + attributes.feedbackText : "mensagem de feedback"

  div(class=classComponent)
    label.upload-label(for=id)
      +icon.fa-upload
      span=' ' + label

    input.upload-input(
      id=id,
      type="file",
      multiple=attributes.multiple,
      disabled=attributes.disabled
    )

    +button.upload-button(disabled=attributes.disabled)
      +icon.fa-upload
      span=' ' + label

    if (attributes.disabled)
      .feedback
        +icon.fa-exclamation-triangle
        span  Upload desabilitado
    else if (attributes.feedbackType) || (attributes.feedbackIcon) || (attributes.feedbackText)
      .feedback(class=feedbackType)
        +icon(class=feedbackIcon)
        span=feedbackText

    .upload-list
