mixin breadcrumb (props={})
  - let className = ["br-breadcrumb", attributes.class]
  div(class=className)&attributes(attributes)
    ul.crumb-list
      li.crumb.home
        a(href="/").br-button.circle
          span.sr-only Página inicial
          i.fas.fa-home
      each crumb, index in props.crumbs
        +crumb(crumb.label, crumb.href)(dataActive=(index === props.crumbs.length -1 ? 'active' : false))

mixin crumb(label, href)
  - className = ["crumb", attributes.class]
  li(class=className data-active=attributes.dataActive)
    i.icon.fas.fa-chevron-right
    if attributes.dataActive
      span=label
    else
      a(href=href)=label
