include ../../partial/pug/utilities/icon

mixin accordion(props={})
  - let className = ["br-accordion", attributes.class]
  div(id=attributes.id class=className, negative=props.isNegative, single=props.isSingle)
    each item, index in props.items
      .item(active=attributes.active)
        button.header(type="button"  aria-controls=attributes.id)
          span.icon
            if className
              +icon.fa-angle-up
            else
              +icon.fa-angle-down
          span.title=item.title
      .content(id=attributes.id hidden=attributes.hidden)
        = item.content
