//- Mixin para reusar componente Checkbox
mixin checkbox(label)
  - const component = 'checkbox'
  - const labeless = attributes.labeless ? 'sr-only' : '';
  - const random = Math.floor((Math.random() * 1000000) + 1);
  - const id = attributes.id ? attributes.id + '-' + random : 'checkbox-' + random;
  div(class=[prefix + component, attributes.class], id=attributes.id)
    input(id=id, type='checkbox', value=attributes.value, name=attributes.name, checked=attributes.checked, disabled=attributes.disabled)
    label(for=id)
      span.overlay
      span.content(class=labeless)=label

//- Mixin para reusar no Select
mixin option-checkbox(label)
  +checkbox(label).item(name=attributes.name, class=attributes.class, value=attributes.value, checked=attributes.checked)
