extends ../../layouts/default
append vars
  - var title = "Debug";
  - var n = 0;
  - var rows = 0;

mixin auto-bs(lines, fluid = false)
  .row.mt-3(row=lines)
    - n = 1
    while n <= lines
      .col(column=n)
        .bg-secondary-01.box
          p coluna
      - n++

mixin col-bs(size, fluid = false)
  .row.mt-3(row=size)
    div(class=`col-${size}`)
      .bg-secondary-01.box
        p coluna

append template
  .container
    h1=title

    h2 Grid

    p.h6 Container

  .bg-secondary-02
    - rows = 1;
    while rows <= 12
      .bg-secondary-03
        .container
          +auto-bs(rows)
          - rows++

  .container
    p.h6 Container-fluid

  .bg-secondary-02
    - rows = 1;
    while rows <= 12
      .bg-secondary-03
        .container-fluid
          +auto-bs(rows)
          - rows++

  .container

    h2 Tipografia

    p.text-danger
      +icon.fa-exclamation-circle
      |
      |
      span Números desalinhados significa que a fonte Rawline não carregou.

    p
      strong letras:
      |
      |
      span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id neque nihil nemo fugit placeat aperiam quas praesentium excepturi magni voluptas, sequi eligendi quos quaerat suscipit culpa architecto consequatur vel quasi.

    p
      strong números:
      |
      |
      span 0123456789

    h2 Cores

    .row
      .col
        p Primárias
        .display-flex.flex-wrap.mb-3
          each val in ["pastel-01", "pastel-02", "lighten-01", "lighten-02", "default", "darken-01", "darken-02"]
            .box.square(class=`bg-primary-${val}` title=val)
      .col
        p Secundárias
        .display-flex.flex-wrap.mb-3
          each val in ["01", "02", "03", "04", "05", "06", "07", "08", "09"]
            .box.square(class=`bg-secondary-${val}` title=`secondary-${val}`)
      .col
        p Highlight, mensagens e suporte
        .display-flex.flex-wrap.mb-3
          .box.square.bg-highlight(title="highlight")
          each val in ["warning", "success", "danger", "info"]
            .box.square(class=`bg-${val}` title=val)
          each val in ["support-01", "support-02", "support-03", "support-04"]
            .box.square(class=`bg-${val}` title=val)

    h2 Estados

    .row
      .col
        p Destacado
        .display-flex.flex-wrap.mb-3
          each val in ["highlight-overlay", "highlight-background", "highlight-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Interativo
        .display-flex.flex-wrap.mb-3
          each val in ["enabled-text", "enabled-text-darken"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Desativado
        .display-flex.flex-wrap.mb-3
          each val in ["disabled-background", "disabled-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
      .col
        p Hover
        .display-flex.flex-wrap.mb-3
          each val in ["hover-background"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Pressionado
        .display-flex.flex-wrap.mb-3
          each val in ["pressed-background", "pressed-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Foco
        .display-flex.flex-wrap.mb-3
          each val in ["focused-overlay", "focused-background"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
      .col
        p Ativo
        .display-flex.flex-wrap.mb-3
          each val in ["activated-background", "activated-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Selecionado
        .display-flex.flex-wrap.mb-3
          each val in ["selected-background", "selected-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Arrastado
        .display-flex.flex-wrap.mb-3
          each val in ["dragged-background", "dragged-text", "dragged-shadow"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
      .col
        p Visitado
        .display-flex.flex-wrap.mb-3
          each val in ["visited-background", "visited-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Ligado
        .display-flex.flex-wrap.mb-3
          each val in ["on-background", "on-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)
        p Desligado
        .display-flex.flex-wrap.mb-3
          each val in ["off-background", "off-text"]
            .box.square(style=`background-color: var(--status-${val})` title=val)

    h2 Ícones

    p Base 16px

    +icon.fa-search
    +icon.fa-eye
    +icon.fa-eye-slash
    +icon.fa-home
    +icon.fa-cog
    +icon.fa-edit
    +icon.fa-trash-alt
    +icon.fa-envelope
    +icon.fa-envelope-open
    +icon.fa-download
    +icon.fa-upload
    +icon.fa-bell
    +icon.fa-bell-slash
    +icon.fa-eraser
    +icon.fa-clock
    +icon.fa-lock
    +icon.fa-unlock
    +icon.fa-user
    +icon.fa-check
    +icon.fa-times
    +icon.fa-plus
    +icon.fa-minus
    +icon.fa-check-circle
    +icon.fa-info-circle
    +icon.fa-exclamation-triangle
    +icon.fa-times-circle
    +icon.fa-question
    +icon.fa-chevron-left
    +icon.fa-chevron-right
    +icon.fa-chevron-up
    +icon.fa-chevron-down
    +icon.fa-sync
    +icon.fa-paperclip
    +icon.fa-bars
    +icon.fa-ellipsis-v
    +icon.fa-volume-up
    +icon.fa-volume-mute
    +icon.fa-share-square
    +icon.fa-deaf
    +icon.fa-adjust
    +icon.fa-toggle-off
    +icon.fa-toggle-on
    +icon.fa-th-large
    +icon.fa-th
    +icon.fa-calendar-alt
    +icon.fa-print
    +icon.fa-sliders-h
    +icon.fa-sort-down
    +icon.fa-sort-up
    +icon.fa-sort
    +icon.fa-image
    +icon.fa-copy
    +icon.fa-cut
    +icon.fa-folder
    +icon.fa-folder-open
    +icon.fa-share-square
    +icon.fa-share
    +icon.fa-clipboard-list

    p.mt-3 Tamanhos

    +icon.fa-camera.fa-xs
    +icon.fa-camera.fa-sm
    +icon.fa-camera
    +icon.fa-camera.fa-lg
    +icon.fa-camera.fa-2x
    +icon.fa-camera.fa-3x
    +icon.fa-camera.fa-4x
    +icon.fa-camera.fa-5x
    +icon.fa-camera.fa-6x
    +icon.fa-camera.fa-7x
    +icon.fa-camera.fa-8x
    +icon.fa-camera.fa-9x
    +icon.fa-camera.fa-10x

append style
  style.
    .box {
      border: 1px solid var(--color-secondary-04);
    }
    .square {
      display: block;
      height: 48px;
      width: 48px;
    }
