extends ../../layouts/component

append vars
  - var title = "Tooltip";

append content
  P.h5 Exemplo padrão
  a(href="javascript:void(0);")
    img(src="https://picsum.photos/50" alt="Avatar" style="border-radius:50%; width:50px; height:50px; border: 3px solid #ccc;")
  +tooltip("Texto de Informação!")(id="tt1")

  p.h5.mt-5 Direções e tipos
  div.mb-3
    a(href="javascript:void(0);") Informação
    +tooltip("Fulano de Tal da Silva")(id="tt2" info place="top")
      span.subtext Diretor Presidente
  div.mb-3
    a(href="javascript:void(0);") Sucesso
    +tooltip("Incluído com Sucesso!")(id="tt3" success place="left")
      span.subtext Protocolo 000.22-11
  div.mb-3
    a(href="javascript:void(0);") Erro
    +tooltip("Não foi possível logar!")(id="tt4" error place="right")
      span.subtext Verifique seus dados
  div.mb-3
    a(href="javascript:void(0);") Advertência
    +tooltip("O Caps Lock está ligado!")(id="tt5" warning place="bottom")
      span.subtext Desabilite antes de digitar

  p.h5.mt-5 Onload
  .row
    .col-sm-4
      +input("Senha (Tooltip no campo - Advertência)")(id="senha" type="password" class="has-icon" placeholder="Digite sua senha de 8 a 11 dígitos")
        button.icon(type='button')
          span.sr-only Mostrar senha
          i.fas.fa-eye
      +tooltip("O Caps Lock está ligado!")(id="tt6" warning place="bottom" active=true timer="10000")
        span.subtext Desative antes de digitar

  p.h5.mt-5 Popovers
  a(href="javascript:void(0);") PopOver Simples
  +tooltip("Cadastro Concluído")(id="tt7" success popover=true timer="5000" place="bottom")
    +popover-header
      span.text Cadastro Concluído!
    +popover-body
      span.subtext Para verificar mais detalhes a respeito do seu acesso, clique no link abaixo.
    +popover-footer
      a.link(href="javascript:void(0)") Clique aqui
  .mt-3
    a(href="javascript:void(0);") PopOver com ícone e botão- Warning
    +tooltip("Incluído com sucesso!")(id="tt8" warning popover=true place="right")
      +popover-header
        i.fas.fa-exclamation-triangle.fa-2x
      +popover-body
        span.subtext É recomendado que o cadastro seja atualizado antes de prosseguir.
      +popover-footer
        +button()(primary)
          span Atualizar
  .mt-3
    a(href="javascript:void(0);") PopOver com ícone - Erro
    +tooltip()(id="tt9" error popover=true timer="3000" place="left")
      +popover-header
        i.fas.fa-ban.fa-2x
      +popover-body
        span.subtext Essa ação só é permitida após o preenchimento dos campos no formulário!
  .mt-3
    a(href="javascript:void(0);") PopOver com imagem
    +tooltip("Incluído com sucesso!")(id="tt10" info popover=true timer="4000" place="bottom")
      +popover-image
        img(src="https://picsum.photos/80" alt="Avatar")
      +popover-header
        span.text Fulano de Tal da Silva
      +popover-body
        span.subtext Diretor Presidente
